{% extends 'main.html' %}
{% block content %}

<div class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'portfolio' %}" class="btn btn-outline-dark mb-3">Back</a>
                <div style="height: 90vh;">
                    <img class="image-view-document" src="{{document.image.url}}">
                    <p>This was received for....</p>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}