{% extends 'main.html' %}
{% block content %}

<div class="m-5">
    <div class="container">
        <div class="row justify-content-center">


            <div class="col">
                <a href="{% url 'portfolio' %}#testimonial" class="btn btn-primary btn-dark">Back</a>
                <div class="viewDocumentPage">
                    <img class="documentImage" src="{{document.image.url}}">
                 </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}