{% extends 'main.html' %}

{% block content %}

<!--Welcome To My Journey-->
  <!--Navigation-->
  <!--Image Slider-->

<!--Built with-->
  <!--Jumbotron-->
    <!--
      1. Django
      2. Python
      3. Css3
      4. Html5
      5. Javascript
      6. ajax.googleapis.com
      7. cdnjs.cloudfare.com
      8. maxcdn.bootstrapcdn.com
      9. kit.fontawesome.com
      10. Youtube: Drew Ryan 
      10. Udemy: Dennis Ivy
    -->

<!--About-->
  <!--Welcome Section-->

<!--Fixed Background Image-->

<!--Click I am...-->
  <!--Three Column Section-->

<!--TimeLine-->

<!--Testimonials and Reference-->

<!--Connect-->

<!--Info-->
    <!--
      1. Download link for pdf cv
    -->

<h1>I am...</h1>
<div class="m-5">
    <div class="container">
        <div class="row">

          {% for interest in interests %}
          <div class="col-md-3">
            <div class="card my-3">
                <img class="image-thumbnail" src="{{interest.image.url}}" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">"{{interest.title}}"</h5>                      
                </div>
              </div>             
          </div>
          {% empty %}
          <h3>No images...</h3>
          {% endfor %}       

        </div>         
    </div>
</div>

<h1>Growing over time...</h1>
<div class="m-5">
    <div class="container">
        <div class="row">

          {% for document in documents %}
          <div class="col-md-3">
              <div class="card my-3">
                  <img class="image-thumbnail" src="{{document.image.url}}" class="card-img-top" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title mb-3">"{{document.title}}"</h5> 
                    <a href="{% url 'document' document.id %}" class="btn btn-outline-dark">View</a>                  
                  </div>
                </div>             
          </div>
          {% empty %}
          <h3>No attachments...</h3>
          {% endfor %}  
   
        </div>         
    </div>    
</div>


{% endblock content %}